/* .card {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

/* .coffee1{
    float: left;
    margin: 50px;
    padding: 20px;
    max-width: 40%;
    border-radius: 60%;
    height: 30%;
    width: 20%;
} */