body {
    background-color: #C1E1C1;
}

.title {
    align-items: center;
    color: #967969;
    font-family: "EB Garamond";
    font-weight: bold;

}

.content {
    color: #967969;
    font-family: "EB Garamond";
    font-size: large;
    align-self: center;

}

.coffee1 {
    border-radius: 60%;
    height: 40%;
}