body {
    background-color: #C1E1C1;
    text-align: center;
}

.title {
    align-items: center;
    color: #967969;
    font-family: "EB Garamond";
    font-weight: bold;

}
h2 {
    color: #967969;
    font-family: "EB Garamond";
    align-self: center;
    justify-content: center;
}

.content {
    display: flex;
    color: #967969;
    font-family: "EB Garamond";
    font-size: large;
    align-self: center;
    justify-content: center;

}
p {
    display: flex;
    background-color: antiquewhite;
    font-size: 1.4rem;
    border-radius: 10px;
    max-width: 80%;
    min-width: 500px;
    margin: 20px 15px;
    padding: 30px;
    flex-wrap: wrap;
    
}
.main {
    display: grid;
    padding: 2rem;
    grid-template-columns: 300px 1fr;
    gap: 1rem;
    align-items: center;
    max-width: 900px;
    margin: 0 auto;
    border: 5px solid;
    border-color: brown;
    border-style: double;
  
  }
  img {
    max-width: 100%;
    height: auto;
  }
